<h1>Hi..! Jack Sparrow</h1>

<!-- <div>
    <div *ngIf="showInput1">
      <label for="input1">Input 1</label>
      <input id="input1" [(ngModel)]="i1" (change)="onInput1Change()" />
    </div>
  
    <div *ngIf="showInput2">
      <label for="input2">Input 2</label>
      <input id="input2" [(ngModel)]="i2" (change)="onInput2Change()" />
    </div>
  
    <div *ngIf="showInput3">
      <label for="input3">Input 3</label>
      <input id="input3" [(ngModel)]="i3" (change)="onInput3Change()" />
    </div>

  </div> -->