<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let b of book">
                    <div class="card h-100 border-success">
                        <div class="card-body">
                            <h5 class="card-title text-success">{{b.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{b.author}}</h6>
                            <p class="card-text">
                                <strong>Publication:</strong> {{b.publication}}<br>
                                <strong>Qty:</strong> {{b.qty}}<br>
                                <strong>Price:</strong> {{b.price}}<br>
                                <strong>Branch:</strong> {{b.branch}}
                            </p>
                            <div *ngIf="!deleteMode">
                                <p class="card-text"><strong>Details:</strong> {{b.details}}</p>
                            </div>
                            <div *ngIf="deleteMode">
                                <button type="button" class="btn btn-danger" (click)="deleteBook(b._id)">
                                    <!-- <i class="bi bi-x-lg"></i>  -->
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
