<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="col-md-4 my-5">
      <div class="card">
          <div class="card-body">
              <form [formGroup]="issueBookForm" (ngSubmit)="issueBook()">
                  <div class="form-group mb-2">
                      <label class="inputLabel" for="book">Select Book:</label>
                      <select class="form-control" formControlName="isbn">
                          <option>Select Book</option>
                          <option *ngFor="let book of getBooks" [value]="book.id">
                              {{ book.name }} - {{ book.author }}
                          </option>
                      </select>
                      <div class="text-danger" *ngIf="issueBookForm.controls['isbn'].dirty && issueBookForm.controls['isbn'].touched">
                          <span *ngIf="issueBookForm.controls['isbn']?.errors?.['required']">
                              Choose the book
                          </span>
                      </div>
                  </div>

                  <div class="form-group mb-2">
                      <label class="inputLabel" for="student">Select Student:</label>
                      <select class="form-control" formControlName="rollNo">
                          <option *ngFor="let student of getStudents" [value]="student.rollNo">{{ student.name }} - Roll No: {{ student.rollNo }}</option>
                      </select>
                      <div class="text-danger" *ngIf="issueBookForm.controls['rollNo'].dirty && issueBookForm.controls['rollNo'].touched">
                          <span *ngIf="issueBookForm.controls['rollNo']?.errors?.['required']">
                              Select the student
                          </span>
                      </div>
                  </div>
                  <button [disabled]="!submitted && issueBookForm.invalid" class="btn btn-primary my-1" type="submit">Issue Book</button>
              </form>
              <div *ngIf="successMsg" class="alert alert-success mt-3">{{ successMsg }}</div>
              <div *ngIf="errorMsg" class="alert alert-danger mt-3">{{ errorMsg }}</div>
          </div>
      </div>
  </div>
</div>
